<!DOCTYPE html>
<html>
<head>
    <title>Distribución de Variables</title>
</head>
<body>
    <h1>Distribución de Variables del Dataset</h1>
    <div>
        <img src="{{ url_for('static', filename='age_distribution.png') }}" alt="Gráfico de distribución de edad">
        <img src="{{ url_for('static', filename='blood_pressure_distribution.png') }}">
        <img src="{{ url_for('static', filename='cholesterol_distribution.png') }}">
        <img src="{{ url_for('static', filename='heart_rate_distribution.png') }}">
    </div>
</body>
</html>

