<!DOCTYPE html>
<html>
<head>
    <title>Portal de Bioinformática</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <header>
        <nav class="top-menu">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/data">Datos</a></li>
                
            </ul>
        </nav>
        <h1>Portal de Bioinformática</h1>
    </header>
    <nav>
        
    </nav>
    <main>
        <section>
            <h2>Bienvenido al Portal de Bioinformática</h2>
            <p>Este portal ofrece acceso a datos de pacientes de todo el mundo que han participado en un estudio para detectar enfermedades del corazón.</p>
            <p>Aquí puedes explorar y analizar los datos, ver gráficos y estadísticas, y acceder a la API de datos abiertos.</p>
            
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Laura Lopez</p>
    </footer>
</body>
</html>

